{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block content %}



  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>Contact</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">{% trans 'Home' %}</a></li>
            <li class="current">{% trans 'Contact' %}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>{% trans 'Address' %}</h3>
                <p>{% trans 'Lagos, Nigeria' %}</p>
              </div>
            </div><!-- End Info Item -->

        

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>{% trans 'Email' %}<br></h3>
                <a href="mailto:checheomenife@gmail.com"><span style="font-size: 1.5em; font-weight: bold;">@</span></a>
              </div>
            </div>

            <a href="https://wa.me/2347048706774" target="_blank" class="text-decoration-none text-reset">
              <div class="info-item d-flex mt-5" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-whatsapp flex-shrink-0"></i>
                <div>
                  <h3>WhatsApp</h3>
                  
                </div>
              </div>
            </a>
            
          </div>

          <div class="col-lg-7">
            <form action="{% url 'contact:contact' %}" method="post" class="django-email-form" data-aos="fade-up" data-aos-delay="500">
            {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                
                 {{ form.name|add_class:"form-control"|attr:"placeholder:Your Name" }}
                </div>

                <div class="col-md-6 ">
                 
                  {{ form.email|add_class:"form-control"|attr:"placeholder:Your Email" }}
                </div>

                <div class="col-md-12">
                  <select name="subject" id="" class="form-control">
                    <option value="">{% trans 'Select Subject' %}</option>
                    <option value="i have a project in mind">{% trans 'I have a project in mind' %}</option>
                    <option value="i'm a developer looking for collaboration">{% trans 'I\'m a developer looking for collaboration' %}</option>
                    <option value="i'm a recruiter">{% trans 'I\'m a recruiter' %}</option>
                    <option value="other">{% trans 'Other' %}</option>
                  </select>
                </div>

                <div class="col-md-12">
                  {{ form.message|add_class:"form-control"|attr:"rows:6,placeholder:Message" }}
                </div>

                <div class="col-md-12 text-center">
                 

                  <!--Checking for field errors coming from form validation is_valid-->
                  <ul style="list-style: none; padding: 0; margin: 0;">
                    {% for field in form %}
                     {% if field.errors %}
                      {% for error in field.errors %}
                    <li style="color: red; list-style: none;">{{error}}</li>
                    {% endfor %}
                    {% endif %}
                     {% endfor %}
                  </ul>
                  <!--End of checking for field errors-->

                  <!--Showing Non field errors coming from forms.py-->
                  <li style="color: darkred; list-style: none;">{{form.non_field_errors}}</li>
                  <!--End of showing non field errors-->

                  <button type="submit" class="btn btn-primary">{% trans 'Send Message' %}</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>


{% endblock content %}  
